body{
    font-family: 'Montserrat';
    
    
}
h3{
    font-weight: bold;
}
.certificates{
padding-top:8%;
padding-bottom:4%;
}


.certi-head{
    font-weight: bold;
    font-size:36px;
    color:black;
}


.btn{
    white-space: normal;
    font-weight: bold;
}
.links{
    margin:0;
    
       
    
}
.faq{
    max-width:70%;
    padding-top:3%;
    padding-bottom:3%;
}
.card {
    border: none;
}

.card-header {
    background-color: white;
    border-radius: unset;
  
}

a.card-link.collapsed{
    color: black;
    font-weight: 500;
    font-size: 15px;
}


a.card-link {
    color: black;
    font-weight: 500;
    font-size: 15px;
}
.card-body {
    color: rgb(107, 107, 107);
    font-size:12px;
}

a.nav-link.active.show {
    background-color: gold;
}
a.nav-link {
    background-color: #343a40;
    transition:0.2s all;
    padding:25px 10px;
    color:white;
    border: none !important;
    border-radius: unset !important;
}
a.nav-link.active {
    background-color: gold !important;
}
.nav-tabs .nav-link:hover {
    background-color:#535c66;


}



.down{
    margin-top:4% !important;
    color:gold;
transition:0.3s all;
margin-top:10px;
display: inline-flex;
font-size:17px;
}
.down:hover{
   
    color:white;
    }

.section-head{
    font-size:25px;
    color:black;
    padding-top:20px;
}

.section-content{
    width:95%; padding-top: 20px; padding-bottom: 20px; 
    font-size: 16px;
    color:black;
    margin:0;
}

.less{
    margin-top:2% !important;
}


a:hover{
    text-decoration:none;
}


.items {
    width: 90%;
    margin: 0px auto;
    
}

.slick-slide {
    margin: 10px
}

.slick-slide img {
   
    display: inline-block !important;
}

.slick-prev:before, .slick-next:before{
    color:black !important;
}
.imglast{
    margin:40px 0;
}

.col-md-6.green {
    background-color: #90ee90;
}
.col-md-6.grey {
    background-color: #343a40;
   
}
.white{
    color:white;
}
.col-md-6 {

  font-weight: 600;

}
.section-content1{
    width:95%;  padding-bottom: 3%;
    padding-top:3%; 
    font-size: 16px;
    color:black;
    font-weight:500;
    margin:0;
    background-color:#d3d3d3;
}
.section-head1{
    font-size:25px;
    color:black;
    padding-top:20px;
    margin:0
}
.yogdaan{
    padding-top:2%;
    
   
}
@media(max-width:870px){
 

    .img3{
        height:150px;

    }
    .imglast{
        height:100px;
        margin:25px 0;
    }

    .faq{
        max-width:90%;
    }
}
@media (min-width: 768px)
{
.col-md-6 {
    -webkit-box-flex: 0;
    
    flex: 0 0 50%;
    max-width: 50%;
    padding-top: 2%;
  
    padding-bottom: 2%;
}
}


@media(max-width:519px){
   

    .faq{
        max-width:100%;
        padding-left:0;
        padding-right: 0;
    }
  
}
