.top{
    margin-top: 4em;
    text-align: center;
    color: white;
    background-image: url("../img/top.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;

}

.main-text {
    padding-top: 150px;
    padding-bottom: 100px;
}

.main-head{
    
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.menu{
  
    padding:15px 20px;

    font-size:15px;
}
.nav .nav-item a{
    color:#fed136;
    padding:5px 9px !important;
}
.nav .nav-item a:hover{
    color:#cfb141;
}
.profiles{
    background-color:#cfcfe4;
    padding-top:60px;
}
.member-card img{
    width:80% !important;
  border-radius: 50%;
}

.sub-team{
    display:contents;
  
}
hr{
    border-color: rgba(124, 124, 124, 0.596);
    box-shadow: rgba(0, 0, 0, 0.315) 0px 0px 10px 1px;
   
    width:70%;
    margin:2rem 0 3rem 0;
}

.member-social-strip {
    background-color: black;
    padding: 4px 3px 5px 3px;
    border-radius: 5px;
}

.member-card .member-social-strip a{
    color: white;
    padding: 0 15px;
    font-size: 17px;
}

.member-card .member-social-strip a:hover{
    color: #fed136;
}

.member-card.bg-light.p-3 {
    border-radius: 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
     0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.member-name {
    font-weight: 750;
    font-size: 120%;
    margin-top: 10px;
}

.member-post {
    font-weight: 650;
   
    font-size: 90%;
    margin-bottom: 10px;
}
.menu-options{
    background-color: rgb(102, 102, 102);
}
a.nav-link {
    margin: 0 4px;
}
@media(max-width:986px){
    ul.nav.nav-pills.menu {
        display: block;
        padding:15px 0;
    }
    a.nav-link {
        margin: 0;
    }
   
}
@media(max-width:400px){
    button.navbar-toggler.menu-options.collapsed {
        padding: 1px 10px 2px 10px;
    }

    nav.navbar.navbar-expand-md.navbar-dark {
        padding-top: 20px;
    }

    span.navbar-toggler-icon {
        font-size: 70%;
    }

}

@media(max-width:324px){
    h1.main-head.text-uppercase.my-auto {
        font-size: 35px;
        display: inline;
    }
    .member-card .member-social-strip a {
  
        padding: 0 8px;
       
    }
}
