

body {
    overflow-x: hidden;
    font-family:'Montserrat';
  }
  
  p {
    line-height: 1.75;
  }
  
  a {
    color: #fed136;
  }
  
  a:hover {
    color: #fec503;
  }
  
  .text-primary {
    color: #fed136 !important;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  section {
    padding: 50px 0;
  }
  
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  @media (min-width: 768px) {
    section {
      padding: 60px 0;
    }
  }

  .btn {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
  }
  
  .btn-xl {
    font-size: 18px;
    padding: 20px 40px;
  }
  
  .btn-primary {
    background-color: #fed136;
    border-color: #fed136;
  }
  
  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #fec810 !important;
    border-color: #fec810 !important;
    color: white;
  }
  
  .btn-primary:active, .btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  }
  
  ::-moz-selection {
    background: #fed136;
    text-shadow: none;
  }
  
  ::selection {
    background: #fed136;
    text-shadow: none;
  }
  
  img::-moz-selection {
    background: transparent;
  }
  
  img::selection {
    background: transparent;
  }
  
  img::-moz-selection {
    background: transparent;
  }
  
  #mainNav {
    background-color: #343A40;
  }
  
  #mainNav{
    background: #0033c1;
  }
  
  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #fed136;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  #mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fec503;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link{
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  .x{
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em ;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0;
   }
  
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 25px;
      padding-bottom: 25px;
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      border: none;
      background-color: transparent;
    }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #212529;
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
      padding: 10px 0;
    }
  }

  #objective{
      padding-top: 200px !important;
     
  }

  @media screen and (max-width:991px){
    #objective p{
        padding:15px;
    }
  
  }

  
  
  .obj:hover{
   
        transform:scale(0.9);;
        transition:0.3s;
 

  }

  .proc{
      border-right:1px solid lightgray;
  }

  .points{
      padding: 10px;
      font-weight: 900;
      background-color: lightgreen;
      font-size: 20px;
  }

  
  .imp__heading{
      font-weight: 600;
      font-size: 20px;
  }


  @media (max-width:991px){
    .imptop{
        flex-direction: column !important;
    }

    #vision{
        padding-top: 60px !important;
        padding-bottom: 0 !important;
    }
    #implementation{
        padding-bottom: 0 !important;
    }
    #vision,#footer p{
        padding-left:20px !important;
        padding-right: 20px !important;
    }
    .imp{
        margin-bottom: 0 !important;
    }
  }





  @media screen and (max-width:991px){
    .section-heading{
      font-size: 30px !important;
    }
  
  }
  
  